.cla_addHorn{
	background:  aquamarine;
	border-radius: 8px;
	
}
.cla_removeHorn{
	background:  aquamarine;
	border-radius: 8px;
}
.cla_addString{
		background:  aquamarine;
	border-radius: 8px;
}
.cla_getString{
	background:  aquamarine;
	border-radius: 8px;
}
.getStr{
	background:  aquamarine;
	border-radius: 8px;
}
